---
interface NavItem {
  title: string;
  route: string;
}

const navItems: NavItem[] = [
  {
    title: 'Privacy Policy',
    route: '/privacy-policy'
  }
];
---

<nav class="flex justify-between items-center">
  <a href="/"><img src="assets/logo/nav.svg" alt="Logo" class="h-10"/></a>

  <ul class="hidden md:flex items-center font-montserrat gap-x-3">
    {navItems.map((navItem) =>
        <li class="growing-underline"><a href=`${navItem.route}`>{navItem.title}</a></li>)}
  </ul>

  <div id="showMenu" class="md:hidden">
    <img src='assets/icons/menu.svg' alt="Menu icon" class="h-10"/>
  </div>
</nav>

<div id="mobileNav" class="hidden fixed p-10 top-0 left-0 h-full w-full bg-black z-20 animate-fade-in-down">
  <div class="flex justify-end">
    <img id="hideMenu" src='assets/icons/cross.svg' alt="" class="h-10"/>
  </div>
  <ul class="flex flex-col items-center font-montserrat mx-8 my-24 text-3xl">
    {navItems.map((navItem) =>
        <li class="my-6"><a href=`${navItem.route}`>{navItem.title}</a></li>)}
  </ul>
</div>

<style>
  .growing-underline {
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
  }

  .growing-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }

  .growing-underline:hover::after,
  .growing-underline:focus::after {
    transform: translate3d(0, 0, 0);
  }
</style>

<script>
  document
      .querySelector("#showMenu")
      .addEventListener("click", () => {
      document.querySelector("#mobileNav").classList.remove("hidden");
      });

      document
          .querySelector("#hideMenu")
          .addEventListener("click", () => {
          document.querySelector("#mobileNav").classList.add("hidden");
          });
</script>
